@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat",sans-serif;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    height: 100vw;
    background-color: #541472;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    
}

.brand {
    margin-top: -7px;
}

.brand span {
    color:aqua

}

.menu {
    display: flex;
    width: 50%;
    justify-content:space-around
}

.menu li {
    list-style: none;
}

.menu a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 2px;
}

.menu .active {
    color: aqua;
}

.menu li:hover {
    border-radius: 8px;
    background-color:aliceblue;
    color: black;
    transition: ease-in .4s;
    cursor: pointer;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1 {
    color:black;
    font-size: 1em;
}

span {
    color: aqua;
}

.download-cv {
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}

.download-cv:hover {
    background-color: white;
    box-shadow: none;
} 

.main img {
    width: 250px;
    margin-left: -8em;
    border-radius: 2em;
    border: 7px solid aqua;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    background-color: aliceblue;
    align-items: center;
}

.about img {
    border-radius: 180px;
    grid-column: 1/5;
    margin: 1em;
}

.about-info {
    grid-column: 4/8;
}

.about-info h2 {
    font-size: 2em;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 10px;
    margin-bottom: 2.5em;
}

.about p {
    margin-bottom: 1em;
}

.Portfolio {
    width:100vw;
    background-color:rgb(184, 11, 247);
}

.Portfolio-headings {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
}

.Portfolio-headings h2{
  font-size: 2.5em;
  color: #fff;

}

.Portfolio .container {
    width: 80vh;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card {
    width: 350px;
    background-color:rgb(159, 16, 211);
    border-radius: 20px;

}

.card_img {
    width: 100%;
    height: 150px;
    background-image: url(/Img/Codigo_QR.png);
    background-size: cover;
    border-radius: 10px;
}

.card__tittle {
    padding: 20px;
}

.card__links-del-proyecto {
    display: flex;
    justify-content: space-evenly;
}

.card__links-del-proyecto a {
    color: #fff;
    text-decoration: none;
}

.card__links-del-proyecto i {
    font-size: 1.5em;
}

.Detalles-del.proyecto {
    margin: 0 auto;
    margin: 1em;
    width: 70%;
    
    
}

.Detalles-del.proyecto a {
    text-decoration: none;
    color: #293064;
    text-transform:uppercase;
   
}

.proyect-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1m;
}

.card__tittle {
    margin: 2em;
}